@model FlyMe.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LuggageWeight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LuggageWeight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LuggageWeight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LuggageWeight)
        </dd>
        <dt>
            Buyer Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Buyer.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Flight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Flight.SourceAirport)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Flight.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
