@model IEnumerable<FlyMe.Models.Ticket>

@{
    ViewData["Title"] = "User Tickets";
}

@using (Html.BeginForm("Search", "Orders", FormMethod.Get))
{
    <div class="container">
        <div>
            <div class="form-group col-md-2">
                <div>
                    Flight Date:
                </div>
                <div>
                    <input type="date" name="date" value="@ViewBag.date" />
                </div>
            </div>
            <div class="form-group col-md-2">
                <div>
                    From:
                </div>
                <div>
                    <input type="text" name="from" value="@ViewBag.from" />
                </div>
            </div>
            <div class="form-group col-md-2">
                <div>
                    To:
                </div>
                <div>
                    <input type="text" name="to" value="@ViewBag.to" />
                </div>
            </div>
            <div class="form-group col-md-2">
                <div>
                    Maximum Price:
                </div>
                <div>
                    <input type="number" name="maxPrice" value="@ViewBag.maxPrice" />
                </div>
            </div>
            <div class="form-group col-md-2">
                <div>
                    <input type="submit" value="Search" class="btn btn-primary" style="position: absolute; top: 16px" />
                </div>
            </div>
        </div>
    </div>
}

<hr />

<div class="container">
    <div class="col-md-6" align="center">
        <input type="button" value="Show most sold flights" class="btn btn-primary" onclick="location.href='@Url.Action("MostSoldFlightsView", "Orders")'" />
    </div>
    <div class="col-md-6" align="center">
        <input type="button" value="Show my bought tickets" class="btn btn-primary" onclick="location.href='@Url.Action("UserTicketsView", "Orders")'" />
    </div>
</div>

<hr />

@if (Model.Count() > 0)
{
    <h2>You have bought @Model.Count() tickets:</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Flight Date
                </th>
                <th>
                    Airplane Model
                </th>
                <th>
                    Source Airport
                </th>
                <th>
                    Destination Airport
                </th>
                <th>
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Flight.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Flight.Airplane.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Flight.SourceAirport.Country), @Html.DisplayFor(modelItem => item.Flight.SourceAirport.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Flight.DestAirport.Country), @Html.DisplayFor(modelItem => item.Flight.DestAirport.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>You didn't bought any tickets yet</h2>
}