@model FlyMe.Models.Flight

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">>Source Airport Id</label>
                @Html.DropDownList("SourceAirportID", null, htmlAttributes: new { @class = "form-control" })

                @if (ViewBag.SourceAirportErrorMessage != null)
                {
                    <label class="text-danger">@ViewBag.SourceAirportErrorMessage</label>
                }
            </div>
            <div class="form-group">
                <label class="control-label">>Destination Airport Id</label>
                @Html.DropDownList("DestAirportID", null, htmlAttributes: new { @class = "form-control" })

                @if (ViewBag.DestAirportErrorMessage != null)
                {
                    <label class="text-danger">@ViewBag.DestAirportErrorMessage</label>
                }
            </div>
            <div class="form-group">
                <label class="control-label">Airplane Id</label>
                @Html.DropDownList("AirplaneID", null, htmlAttributes: new { @class = "form-control" })

                @if (ViewBag.AirplaneErrorMessage != null)
                {
                    <label class="text-danger">@ViewBag.AirplaneErrorMessage</label>
                }
            </div>
            <div class="form-group">
                <label class="control-label">Date</label>
                <input type="date" class="form-control" name="time" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
