@model IEnumerable<FlyMe.Models.Flight>

@{
    ViewData["Title"] = "Index";}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Dest
                @Html.DisplayNameFor(model => model.DestAirport.Acronyms)
            </th>
            <th>
                Source
                @Html.DisplayNameFor(model => model.SourceAirport.Acronyms)
            </th>
            <th>
                Plane
                @Html.DisplayNameFor(model => model.Airplane.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DestAirport.Acronyms)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SourceAirport.Acronyms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Airplane.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
