@model IEnumerable<FlyMe.Models.Flight>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <form asp-controller="Flights" asp-action="Search">
        <p>
            Airplane Id: <input type="text" name="AirplaneId">
            Destination Airport Name: <input type="text" name="DestAirportName">
            Source Airport Name: <input type="text" name="SourceAirportName">
            <input type="submit" value="Search">
        </p>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Airplane Model
                </th>
                <th>
                    Destination Acronyms
                </th>
                <th>
                    Source Acronyms
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => item.Airplane.Model)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.DestAirport.Acronyms)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.SourceAirport.Acronyms)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
